.live-announcement{
  background-color: #0D2A47;
  color:white;
}

.btn-watch-now{
    background-color:#00AA9F;
    color:white;
}

.thumbnail{
position: relative;
}

.caption{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color:  #FFFFFF
  
}