.live-announcement{
  background-color: #0D2A47;
  color:white;
}

.btn-watch-now{
    background-color:#00AA9F;
    color:white;
}

.thumbnail{
position: relative;
}

.caption{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color:  #FFFFFF;
  
}

.patreon-caption{
  color: #0D2A47;
}


.video-head{
  color: #0D2A47;
}


.video-caption{
  color: #646566;
  font-size: 16px;
}

.video-name{
  color: #0D2A47;
  font-size: 21px;
}

.video-link{
  color: #00AA9F;
  font-size: 18px;
}

.blog-preview{
  background:#d7fcf9 -8%;
}

.blog-heading{
  color: #0D2A47;
  font-size: 36px;
}

.blog-body{
  color: #646566;
  font-size: 16px;
}

.blog-name{
  color: #0D2A47;
  font-size:21px;
}

.blog-author{
  color: #0D2A47;
  font-size: 16px;
}

.blog-link{
  color:#00AA9F;
  font-size: 18px;
}


.community-heading{
  color: #0D2A47;
  font-size: 36px;
}

.community-body{
  color: #646566;
  font-size: 16px;
}

.oradores-preview{
  background-color: #00AA9F;
}

.oradores-heading{
  color: #FFFFFF;
  font-size: 36px;
}

.oradores-body{
  color: #FFFFFF;
  font-size: 16px;
}

.orador-nombre{
  
  color: #0D2A47;
  font-size: 24;
}

.orador-experience{
  color: #FFFFFF;
  font-size: 16;

}

.oradores-link{
  color: #FFFFFF;
  font-size: 21px;
}

.contacto-heading{
  color: #0D2A47;
  font-size: 36px;
}

.contacto-body{
  color: #646566;
  font-size: 16px;
}

.pie-de-pagina{
  background-color: #0D2A47;
}

.footer-caption{
  color: #ffffff;
  font-size: 16px;
}



/* Blog page style */


.main-article-class{
  color: #00AA9F;
  font-size: 16px;
}

.main-article-name{
  color: #0D2A47;
  font-size: 48px;
}

.main-article-author{
  color: #646566;
  font-size: 16px;
}

.recent-articles{
  color: #0D2A47;
  font-size: 24px;
}

.article-class{
  color: #00AA9F;
  font-size: 16px;
}

.article-name{
  color: #0D2A47 ;
  font-size: 16px;
}

.article-author{
  color: #646566;
  font-size: 16px;
}

.suscribete{
  background-color: #0D2A47;
}

.suscribete-caption{
  color: #ffffff;
  font-size:36px;
}

.mas-articulos-caption{
  color: #0D2A47;
  font-size: 36px;
}

.more-article-class{
  color: #00AA9F;
  font-size: 16px;
}

.more-article-name{
  color: #0D2A47;
  font-size: 24px;
}

.more-article-author{
  color: #646566;
  font-size: 16px;
}


/* Community page style */

.community-header-title{
  color: #0D2A47;
  font-size: 36px;

}


.community-header-info{
  color: #646566;
  font-size: 16px;

}

.btn-search{
  color: #ffffff;
  background-color: #00AA9F;
}

.community-name{
  color: #0D2A47;
  font-size: 24px;
}

.community-links{
  color: #646566;
  font-size: 16px;
}


/* Oradores page style */

.oradores-header-title{
  color: #0D2A47;
  font-size: 36px;


}

.oradores-header-info{
  color: #646566;
  font-size: 16px;

}

.autor-nombre{
  color: #0D2A47;
  font-size: 24px;

}

.autor-experiencia{
  color: #00AA9F;
  font-size: 16px;
}

.autor-bio{
  color: #646566;
  font-size: 17px;
}


/* Blog solo Style */

.bi-person-circle{
  font-size: 3rem;
  color:#00AA9F;
}


.blog-text{
  color: #0D2A47;
  font-size: 21px;
}


.blog-compartelo{
  color: #00AA9F;
  font-size: 16px;
}

.logo{
  font-size: 3rem;
  color: #0D2A47;
}